.tableBorder th, .tableBorder td {
    border: 1px solid #041208;
}

.tableBorder tr:nth-child(1) th {
    background-color: rgb(0, 0, 0, 0.1);
}
.tableBorder tr:nth-child(2) th {
    background-color: #50AB42;
}

.tableHeader {
    position: sticky;
    top: 80px;
}

.search {
    background-color:rgb(175, 175, 200);
    height: 25rem;
    margin: 0;
}