.tableBorder th, .tableBorder td {
    border: 1px solid #041208;
    white-space: nowrap;
}

.tableBorder tr:nth-child(1) th {
    background-color: rgb(0, 0, 0, 0.1);
}

.tableBorder tr:nth-child(2) th {
    background-color: #19376d;
    color: #fafafa;
}

.stickyTop {
    position: sticky;
    top: 80px;
}

.search {
    background-color:rgb(175, 175, 200);
    height: 20px;
    /* width: 100%; */
}