.collapseIcon {
    cursor: pointer;
    position: sticky;
    top: 10px;
}

.expandIcon {
    cursor: pointer;
    position: sticky;
    top: 10px;
}

.navLink {
    border: 2px solid black;
    border-radius: 1rem;
}
.navLinkClosed {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px;
    background-color: #576cbc;
}

.sideNavBtn {
    width: 15rem;
    background-color: #576cbc;
    color: #00031C;
    border-color: #000000;
    transition: background-color 0.2s, color 0.2s;
    text-align: left;
    margin: 0;
}

.sideNavOpen {
    background-color: #0b2447;
    border-right: 1px solid #fafafa;
    border-radius: 0;
    border-color: #fafafa;
    height: 100vh;
    width: 18rem;
    padding: 0 0.5rem;
}

.sideNavClosed {
    background-color: #0b2447;
    border-right: 1px solid #fafafa;
    border-radius: 0;
    border-color: #fafafa;
    height: 100vh;
    width: 5rem;
    transition: width 0.3;
    padding: 0 0.5rem;
}

.brandLogo {
    height: 75px;
    margin: 10px;
    margin-bottom: 15px;
    color: #fafafa;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.subLink:hover {
    color:aqua;
    text-decoration: underline;
}

.stickyTop {
    position: sticky;
    top: 110px;
}