.navBar {
    height: 80px;
    width: 100%;
    display: inline-block;
    background-color: #0b2447;
    border-bottom: 1px solid #fafafa;
}

.brandLogo {
    height: 3rem;
    margin-bottom: 0.2rem;
    color: #fafafa;
}

.navIcons {
    color: #fafafa;
    margin-top: 0.1rem;
}

.siteHeader {
    color: #fafafa;
}

.navLinks {
    color: #fafafa;
    /* font-weight: bold; */
}

.navLinkContainer {
    height: 2rem;
}

.linkBtn {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

div > p, div > h1 {
    color: #fafafa;
}