.navIcons {
    color: #fafafa;
    margin-top: 0.1rem;
}

.siteHeader {
    color: #fafafa;
}

.navLinks {
    color: #fafafa;
    /* font-weight: bold; */
}

.linkBtn {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

div > p, div > h1 {
    color: #fafafa;
}